# Virtual Environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Audio files and transcripts
*.wav
*.mp3
*.json
chunk_*.wav

# Cache and temp files
models_cache/
.cache/
temp/
*.pyc

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log 